*{
    padding: 0px;
    margin: 0px;
}
.logo-senai{
    height: 30px;
    width: 95px;
    display: block;
    margin-top: 100px;
    position: absolute;
    text-align: center;

}

.logo-senai {
    float: right;
}


   .home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
   }

   body {
    font-family: Arial, sans-serif;
    background-color: #faf8f8;
    margin: 0;
    padding: 0;
}

header {
    text-align: right;
    padding: 20px
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: rgb(250, 249, 249);
    border: 2px solid #070707;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.tag {
    background: #faf8f8;
    border: 2px solid #0e0909;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 5px;
}

h2 {
    margin-top: 10px;
}

.btn-info,
.btn-inscrever {
    display: block;
    width: 100%;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-info {
    background: #f0efef;
    width: 180px;
    margin: 0% auto;
    color: #c73636;
    border: 2px solid #d12020;
    border-radius: 50px;
}

.btn-inscrever {
    background: #d12020;
    width: 180px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 50px;
    color: rgb(243, 235, 235);
}
